<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">



<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">


  <link rel="shortcut icon" href="./assets/favicon.png" type="image/x-icon">

  <link rel="stylesheet" th:href="@{/css/aluno.css}">

  <title>Novo Aluno</title>
</head>


<body>

<div th:replace="fragments/config :: config"></div>

<div th:replace="fragments/header :: cabecalho"></div>


<main class="container">

  <div class="col">
    <h2 style="text-align: center ;">Cadastro de Alunos</h2>


    <div th:if="${mensagem}" class="alert alert-success alert-dismissible fade show " role="alert">
      <span th:text="${mensagem}"></span>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form th:action="@{/aluno/salvar}" th:object="${aluno}" method="post" class="formulario">


      <div class="campo-formulario">

        <label for="inputEmail3" class=" label col-form-label">Nome:</label>


        <div class="col-sm-10">
                        <span
                                class="message"
                                th:if="${#fields.hasErrors('nome')}"
                                th:errors="*{nome}"
                        ></span>
          <input th:field="*{nome}" type="text" class="form-control" id="inputEmail3">
        </div>

      </div>

      <div class="campo-formulario">
        <label class=" label col-form-label">Matrícula:</label>
        <div class="col-sm-10">
                        <span
                                class="message"
                                th:if="${#fields.hasErrors('matricula')}"
                                th:errors="*{matricula}"
                        ></span>
          <input th:field="*{matricula}" type="text" class="form-control" >
        </div>
      </div>

      <div class="campo-formulario">
        <label class="label col-form-label">E-mail:</label>
        <div class="col-sm-10">
                        <span
                                class="message"
                                th:if="${#fields.hasErrors('Email')}"
                                th:errors="*{email}"
                        ></span>
          <input th:field="*{email}" type="email" class="form-control" >
        </div>
      </div>

      <div class="campo-formulario">
        <label class="label col-form-label">CPF:</label>
        <div class="col-sm-10">
                        <span
                                class="message"
                                th:if="${#fields.hasErrors('cpf')}"
                                th:errors="*{cpf}"
                        ></span>
          <input th:field="*{cpf}" type="text" class="form-control" >
        </div>
      </div>

      <div class="campo-formulario">
        <label class="label col-form-label">CEP:</label>
        <div class="col-sm-10">
          <input th:field="*{endereco.cep}" type="text" class="form-control" th:id="cep" onblur="pesquisacep(this.value);" >
        </div>
      </div>

      <div class="campo-formulario">
        <label class="label col-form-label">Rua:</label>
        <div class="col-sm-10">
          <input th:field="*{endereco.rua}" type="text" class="form-control" th:id="rua">
        </div>
      </div>

      <div class="campo-formulario">
        <label class="label col-form-label">Complemento:</label>
        <div class="col-sm-10">
          <input th:field="*{endereco.complemento}" type="text" class="form-control" th:id="complemento" >
        </div>
      </div>

      <div class="campo-formulario">
        <label class="label col-form-label">Bairro:</label>
        <div class="col-sm-10">
          <input th:field="*{endereco.bairro}" type="text" class="form-control" th:id="bairro">
        </div>
      </div>

      <div class="campo-formulario">
        <label class="label col-form-label">Cidade:</label>
        <div class="col-sm-10">
          <input th:field="*{endereco.cidade}" type="text" class="form-control" th:id="cidade">
        </div>
      </div>

      <div class="campo-formulario">
        <label class="label col-form-label">Número:</label>
        <div class="col-sm-10">
          <input th:field="*{endereco.numero}" type="text" class="form-control" th:id="numero">
        </div>
      </div>

      <div class="campo-formulario">
        <label class="label col-form-label">UF:</label>
        <div class="col-sm-10">
          <input th:field="*{endereco.uf}" type="text" class="form-control"th:id="uf">
        </div>
      </div>



      <div class="campo-formulario">
        <label class="label col-form-label">Data de Nascimento:</label>
        <div class="col-sm-10">
                        <span
                                class="message"
                                th:if="${#fields.hasErrors('dataNascimento')}"
                                th:errors="*{dataNascimento}"
                        ></span>
          <input th:field="*{dataNascimento}" type="date" class="form-control" >
        </div>
      </div>

      <div class="campo-formulario">
        <label class="label col-form-label">Data de Cadastro:</label>
        <div class="col-sm-10">
                        <span
                                class="message"
                                th:if="${#fields.hasErrors('dataCadastro')}"
                                th:errors="*{dataCadastro}"
                        ></span>
          <input th:field="*{dataCadastro}" type="date" class="form-control" >
        </div>
      </div>





      <button type="submit" style="margin-bottom: 40px" class="btn btn-primary">Gravar</button>
    </form>
  </div>
</main>




<div th:replace="fragments/footer :: rodape"></div>

</body>

</html>