<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <title>Listagem de Alunos</title>
    <div th:replace="fragments/config :: config"></div>
  </head>
  <body>
    <div class="container">
      <div th:replace="fragments/header :: cabecalho"></div>
      <h1>Listagem de Alunos</h1>
      <a href="../aluno/novo"> <button type="button" class="btn btn-success">Cadastrar</button></a>
      <table class="table table-striped">
        <tr th:if="${alunos.empty}">
          <td colspan="2">Sem Alunos</td>
        </tr>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Matricula</th>
          <th scope="col">Nome</th>
          <th scope="col">E-mail</th>
          <th scope="col">CPF</th>
        </tr>
        <tr th:each="aluno : ${alunos}">
          <td><span th:text="${aluno.id}"> Id </span></td>
          <td><span th:text="${aluno.matricula}"> Matrícula </span></td>
          <td><span th:text="${aluno.nome}"> Nome </span></td>
          <td><span th:text="${aluno.email}"> Email </span></td>
          <td><span th:text="${aluno.cpf}"> CPF </span></td>
          <td>
            <a class="btn btn-outline-danger btn-sm"
                th:href="@{/aluno/excluir/{id}(id=${aluno.id})}"
                th:data-confirm-delete="|Você gostaria de apagar ${aluno.nome}?|"
                onclick="if (!confirm(this.getAttribute('data-confirm-delete'))) return false">
                Apagar
            </a>

            <a
              class="btn btn-outline-primary btn-sm"
              th:href="@{/aluno/alterar/{id}(id=${aluno.id})}"
              >Editar
            </a>
          </td>
        </tr>
      </table>
      <div th:replace="fragments/footer :: rodape"></div>
    </div>
  </body>
</html>
